<div class="col-xs-12">
    <ul class="nav nav-tabs" >
			<li *ngFor="let formtab of schema.formtabs; let i=index" [ngClass]="{'active':(i==currentPage)}" ><a href="#" (click)="goTab(i)">{{formtab.title}}</a></li>
	</ul>
<!-- [ngClass]="{'tab-pane':true,'fade':true, 'in':(i==currentPage), 'active':(i==currentPage)}" -->
    <div class="tab-content">
        <div id="tab{{i}}" class="tab-pane fade in active" *ngFor="let formtab of schema.formtabs; let i=index">
            <fieldset  *ngIf="currentPage == i">
                <h2>{{formtab.description}}</h2>
                <span *ngFor="let field of formtab.fields">
                        <h4 *ngIf="field.title">{{field.title}}</h4>
                        <formelement  [formProperty]="formProperty.getProperty(field.id)"  [formRendering]="field.rows">
                        </formelement>
                </span>
            </fieldset>
        </div>
    </div>
</div>

	<!--button (click)="previousPage()" class="btn btn-default wizardBtn" [attr.disabled]="!hasPreviousPage()?true:null"> &lt; </button
	<div class="wizardContent container"> 
		<form class="form-horizontal" role="form">
		
		<span *ngFor="let formtab of schema.formtabs; let i=index">
			<fieldset *ngIf="currentPage === i"> 
			<div class="row">
				<span class="col-xs-12"><legend *ngIf="formtab.title">Tab: {{formtab.title}}</legend></span>
			</div>
			<span *ngFor="let field of formtab.fields">
					<h4 *ngIf="field.title">{{field.title}}</h4>
					<formelement  [formProperty]="formProperty.getProperty(field.id)"  [formRendering]="field.rows">
					</formelement>
			</span>
			</fieldset>
		</span>
		</form>
	</div>
	<button (click)="nextPage()" class="btn btn-default wizardBtn" [attr.disabled]="!hasNextPage()?true:null"> &gt; </button-->